PyYaml==6.0.1
pandas==2.0.3
pydantic==2.7.1
spacy==2.3.7
spacy-lookups-data==1.0.5
compound-split==1.0.2
nltk==3.8.1
HanTa==1.1.1
KrovetzStemmer==0.8
PyStemmer==2.2.0.1
swifter==1.4.0
ydata-profiling==4.8.3
pytest==8.2.1
tox==4.15.0
scikit-multilearn==0.2.0
streamlit==1.36.0
streamlit-agraph==0.0.45
streamlit-aggrid==1.0.5
streamlit-pandas-profiling==0.1.3
sqlalchemy
scikit-learn
mysql-connector-python==8.4.0
plotly
st-annotated-text==4.0.1

# Spacy packages
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz

# Windows-spezifische Requirements
# requirement for windows
#natsort ; sys_platform == 'win32'

# MacOS-spezifische Requirements
# requirements for mac

# Linux-spezifische Requirements
# requirements for linux (should be checked which my-sql-connector works)
#mysql-connector-python  ; sys_platform == 'linux'